[DEFAULT]
local_ip = "{{ local_ip }}"
undercloud_public_vip = "{{ undercloud_public_vip }}"
undercloud_admin_vip = "{{ undercloud_admin_vip }}"
local_interface = "{{ local_interface }}"
masquerade_network = "{{ masquerade_network }}"
dhcp_start = "{{ dhcp_start }}"
dhcp_end = "{{ dhcp_end }}"
network_cidr = "{{ network_cidr }}"
network_gateway = "{{ network_gateway }}"
inspection_iprange = "{{ inspection_iprange }}"
enable_node_discovery = "{{ enable_node_discovery }}"
enable_ui = "{{ enable_ui }}"
generate_service_certificate = "{{ generate_service_certificate }}"
